html{
	height: 100%;}
body{
	background-color:#F9F7F8;
	font-family: sans-serif;
	margin:0;
}
.general{
	width:1000px;
	margin:0 auto;
}
.container{background:url(images/r0_02.png) repeat-x;
}
.left-sidebar{width:225px;
	float:left;
	color:#797979;
	padding:10px;
	margin:0;
}
.menu-sidebar .list-sidebar{
	text-align:right;
	list-style-type:none;
	font-size:20px;
	font-weight:700; 
}
.sidebar-rigth{
	width:250px;
	float:right;
	padding-top: 20px;
}
.content{
	margin:0px 300px 0 230px;
	width:500px;
	padding-top: 8px;

}
.header-page{
	position: relative;
	background: url(images/header.jpg) no-repeat;
	height: 400px;
}
.header-page .expertise-image {
	position: absolute;
	top: 308px;
	right: 0;
}
.text-header{
	padding-top:27px;
	font-size:18px;
	color:#900202;
	text-align:center;
}
.tel{
	padding-top:10px;
	display: block;
	font-size: 30px;
}
.peripheral-header{background-color:#9f0000;
    height:145px;
}
.peripheral-images{
	position:relative;
	margin:15px 300px 5px 480px;
}
.main-menu {
	position: absolute;
	left:358px;
	top:337px;
	margin:0;
	width: 386px;
}
.main-menu .list{
	padding:0px;
	margin:0px;
}
 .main-menu .list-item {
	display: inline-block;
	padding: 4px 20px;
	cursor: pointer;
}
a:link{
	color:#9f0000;
}
a:visited{
	color:#9f0000;
}
.images_1{
	position: absolute;
	top:0px;
    left:176px;
}
.strahovca {
	position:absolute;
	top:300px;
	left:640px;
}
.footer-text {
	margin:0;
	float:left;
	height:100px;
	width:200px;
}
footer{
	background:#8b0101;
	overflow: hidden;
}