@font-face{
	font-family: Navis-Bold;
	font-weight: 400;
	src:url(font/navis-bold/nevis-Bold.svg);
	src:url(font/navis-bold/nevis-Bold.eot);
	src:url(font/navis-bold/nevis-Bold.ttf);
	src:url(font/navis-bold/nevis-Bold.woff);
}

@font-face{
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	src:url(font/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.ttf);
	src:url(font/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.woff);
	src:url(font/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.eot);
	src:url(font/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.svg);
	src:url(font/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.otf);
}

@font-face{
	font-family: DroidSerif;
	font-weight: 300;
	src:url(font/DroidSerif/DroidSerif.ttf);
	src:url(font/DroidSerif/DroidSerif.eot);
	src:url(font/DroidSerif/DroidSerif.svg);
	src:url(font/DroidSerif/DroidSerif.woff);
}

@font-face{
	font-family: Helvetica;
	src:url(font/Helvetica/Helvetica.ttf);
	src:url(font/Helvetica/Helvetica.eot);
	src:url(font/Helvetica/Helvetica.woff);
	src:url(font/Helvetica/Helvetica.svg);
}

html{
	width:100%;
	height:100%;
}

body{
	min-width:1040px;
	margin:0;
	background: url(images/background.png)repeat;
}

#header{
	width: 1040px;
	margin: auto;
}

.header-top{
	overflow: hidden;
	width: 1040px;
	background: #383936;
}


.login-form{
	float: right;
	margin: 0 224px 0 0;
	list-style-type: none;
}

.line-login{
	margin-left: 47px;
	padding: 10px 0 11px 0;
	display: inline-block;
}

.link-login{
	font-size: 14px;
	color:#949494;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	text-decoration: none;
}

.main-nav{
	box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.2);
	overflow: hidden;
	background: #ee4e1d;
}

.logo{
	width: 214px;
	height: 67px;
	float: left;
	margin: 18px 0 17px 50px;
}

.img-logo{
	display: block;
}

.list-nav{
	margin:42px 0 0 0 ; 
	padding:0;
	list-style-type: none;
	float: right;
}

.line-nav{
	margin-right: 75px;
	display: inline-block;
}

.line-nav:last-child{
	margin-right: 55px;
}

.link-nav{
	font-family: Navis-Bold;
	font-weight: 400;
	text-decoration: none;
	font-size: 16px;
	color:#fff;
}

.link-nav:hover{
	color:#9e2703;
}

#main{
	width: 1040px;
	margin:auto;
}

.main-title{
	border-bottom: 1px solid #f0ebe5;
	background: #fff;
}

.title{
	padding: 30px 0 30px 0;
	margin: 0 0 0 41px;
	font-family: Navis-Bold;
	font-weight: 400;
	font-size: 35px;
	color:#383936;
}

.add-title{
	font-family: DroidSerif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	bottom: 7px;
	margin-left: 54px;
	font-size: 15px; 
	color:#a4a4a4;
}

#two-columns{
	overflow: hidden;
	height: 100%;
	width: 1040px;
	background: #f4f9f0;
}

#content{
	float: left;
	margin: 39px 0 58px 50px;
	width:620px;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.26);
}

.img-block{
	width: 620px;
	height: 240px;
}

.img{
	display: block;
}

.section{
	width: 575px;
	margin:auto;
}

.data{
	float: left;
	margin-top: 20px;
	display: inline-block;
	background: #ee4e1d;
	width: 50px;
	height: 50px;
}

.title-content{
	color:#383936;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	font-size: 18px;
	margin: 25px 0 0 10px;
	display: inline-block;
}

.add-title-content{
	font-family: DroidSerif;
	font-weight: 300;
	display: inline-block;
	font-size: 11px;
	font-style: italic;
	color:#a4a4a4;
	margin: 3px 0 0 10px;
}

.mark-content2{
	color:#ee4e1d;
}

.link-mark{
	text-decoration: none;
}

.text-content{
	color:#525351;
	margin: 20px 0 60px 0;
	font-family: Helvetica;
	font-size: 13px;
}

.month{
	margin-top: 8px;
	display: block;
	text-align: center;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	font-style: normal;
	color:#fff;
	font-size: 10px;
}

.namber{
	color: #fff;
	text-align: center;
	display:block;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	font-size: 20px;
	font-style: normal;
}

.paging{
	overflow: hidden;
	width: 575px;
	margin: auto;
}

.list-page{
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0 0 58px 0;
}

.line-page{
	display: inline-block;
}

.link-page{
	color:#fff;
	margin-right: 6px;
	text-decoration: none;
	padding: 9px 15px 10px 15px;
	font-style: italic;
	font-family: DroidSerif;
	font-weight: 300;
	font-size: 18px;
	border-radius: 3px;
	background: #3d3d3f;
	display: inline-block;
}

.link-page:hover{
	background: #ee4e1d;
}

.list-arrow{
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 0;
}

.link-arrow{
	display: inline-block;
  	width: 40px;
 	height: 40px
}	

.sprite{
	display: inline-block;
	background-image: url(sprite/sprite.png);
}

.line-arrow{
	display: inline-block;
	margin-left: 6px;
	border-radius: 3px;
	width: 40px;
	height: 40px;
	background:#3d3d3f;
}

.line-arrow:hover, .link-page.active{
	background: #ee4e1d;
}

.icon-arrow-left{
	height: 13px;
	width: 8px;
	margin: 12px 0 0 15px;
	background-position: -1px -41px;
}

.icon-arrow-right{
	height: 13px;
	margin: 12px 0 0 15px;
	width: 8px;
	background-position: -13px -41px;
}

.aside{
	width: 350px;
	margin-top: 39px;
	float: right;
}

.icon-block{
	position: relative;
	border-bottom: 1px solid #e6e6e6;
}

.icon-block:after{
	content: "";
	width: 100%;
	bottom:-12px;
	position: absolute;
	display:block;
	background: url(images/back_03.jpg) repeat-x;
	height: 11px;
}

.title-block{
	margin: 0;
	font-size: 20px;
	font-family: Navis-Bold;
	font-weight: 400;
	color:#ee4e1d;
}

.list-icon{
	margin: 35px 0 25px 0;
	list-style-type: none;
	padding: 0;
}

.line-icon{
	margin-right: 13px;
	display: inline-block;
}

.sprite{
	background-image:url(sprite/sprite.png);
	display: inline-block;
}

.rss1{
	width: 32px;
	height: 38px;
	background-position: 0 0;
}

.rss2{
	width: 33px;
	height: 33px;
	background-position: -33px -6px;
}

.rss3{
	width: 38px;
	height: 29px;
	background-position: -66px -10px;
}

.rss4{
	width: 33px;
	height: 33px;
	background-position: -105px -6px;
}

.rss5{
	width: 34px;
	height: 34px;
	background-position: -140px -5px;
}

.rss6{
	width: 33px;
	height: 33px;
	background-position: -174px -7px;
}

.text-search{
	margin: 40px 0 25px 0;
}

.search-form{
	position: relative;
}

.search{
	position: relative;
	margin-bottom: 64px;
	padding: 2px 44px 2px 24px;
	width: 230px;
	height: 46px;
	border: 1px solid #eae7e4;
	border-radius: 3px;
}

.botton{
	position: absolute;
	top:13px;
	right: 65px;
	background-position: 0 -55px;
	width: 25px;
	height: 26px;
	border: none;
	cursor: pointer;
	background-color:rgba(0, 0, 0, 0);	
}

.img-acaunt{
	margin-right:10px;
	float: left;
}

.strong-auther{
	margin: 0;
	color:#383936;
	display: inline-block;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	margin-right: 17px;
	font-size: 16px;
}

.comments{
	padding-top: 22px;
	border-top: 1px solid #e6e6e6;
	margin: 22px 0 0 0;
}

.border{
	border:none;
}
.emdate{
	color: #aaaaaa;
	font-family: DroidSerif;
	font-weight: 300;
	font-size: 11px;
	font-style: italic;
}

.advertising-block{
	position: relative;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
	width: 300px;
	margin: 27px 0 0 0;
}

.advertising-block:after{
	content: "";
	width: 120px;
	height: 4px;
	bottom: 0;
	left:0;
	position: absolute;
	background:#e2e2de;

}

.text-comment{
	font-family: Helvetica;
	font-size: 13px;
	color:#828282;
	font-style: oblique;
	width: 230px;
	display: inline-block;
	text-align: justify;
}

.advertising-text1{
	margin: 20px 0 10px 20px;
}

.advertising-text2{
	display: block;
	margin:0 0 17px 20px;
}

.price{
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	font-size: 20px;
	color:#525351;
	display: inline-block;
	margin: 0 0 16px 20px;
}

.add-advertising{
	margin-top:73px;
}

.pagin-circle{
	float: right;
	margin: 20px 50px 0 0;
}

.circle{
	border-radius: 60%;
	width: 18px;
	margin-left: 13px;
	height: 18px;
	display: inline-block;
	background: #7f7f80;
	box-shadow: inset 0 1px 0 0 #393938;
}

.circle:hover{
	width: 10px;
	box-shadow:none;
	height: 10px;
	padding-left: 1px;
	border-radius: 50%;
	background:linear-gradient(to top, #cfd3d3, #fbfbfb);
	border: 4px solid #7f7f80;
}

#footer{
	width: 1040px;
	margin: auto;
	height: 240px;
	background: #222221;
}

.navigetion-logo{
	width:130px;
	position: relative;
	left:-14px;
	height:44px;
}

.navigetion{
	margin-bottom: 32px;
	overflow: hidden;
}

.navigetion-block1{
	width: 200px;
	float: left;
	margin: 20px 38px 0 50px;
}

.text-navigetion{
	color:#a6a6a6;
	font-size: 12px;
	line-height:20px;
	margin: 18px 0 0 0;
	font-family:Helvetica;
}

.navigetion-block2{
	float: left;
	margin: 32px 35px 0 0 
}

.title-nav-block{
	color:#f1f1ed;
	font-family: Navis-Bold;
	font-weight: 400;
	font-size: 16px;
	margin: 0 0 0 0 ;
}

.add-nav{
	margin-right: 14px;
	list-style-type: none;
	padding: 0;
	float: left;
}

.line-add-nav{
	line-height: 32px;
}

.link-add-nav{
	color:#6c6c6c;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
	font-size: 12px;
	text-decoration: none;
}

.mark-nav{
	margin-left: 7px;
	color:#f3f0e7;
	font-family: HelveticaNeue-Bold;
	font-weight: 500;
}

.navigetion-block3{
	float: left;
	margin:32px 0 0 0;
}

.list-img{
	margin:24px 0 0 0 ;
	padding: 0;
	list-style-type: none;
}

.tweet{
	margin: 21px 0 0 2px;
}

.line-img{
	margin-right: 14px;
	display: inline-block;
}

.navigetion-block4{
	float: left;
	width: 215px;
	margin: 32px 0 0 12px;
}

.tweet-time{
	display: inline-block;
	margin-top: 3px;
	color:#514f4f;
}

.marc-tweet{
	color:#e9e9e9;
}

.footer-botton{
	margin-bottom: 30px;
	background: #ee4e1d;
	width:220px;

}

.text-footer-botton{
	margin:0;
	text-align: center;
	color: #f1f1ed;
	font-size: 12px;
	padding:8px 0 8px 0;
	font-family: Navis-Bold;
	font-weight: 400;
}

.mark-footer-botton{
	color:#982a08;
}