html{
	height:100%;
}
body{
	z-index: 1;
	width: 1256px;
	margin: auto;
	background: url(images/index.png) repeat;
	font-size:13px;
	font-family:Century Gothic;
	
}
.cinema-ruletca{
	width: 1256px;
	background: url(images/xxx.png) repeat;
	height: 126.5px;
	}
	.consol{
		margin: 10px 110px 0px 0px;
		float:right;
	}
	.button_social_network{
		padding-left: 10px;
	}
	.header-img-ruletka{
		margin: 10px 0px 0px 80px;
	}
.ruletca{
	background:url(images/fon3.png) repeat;
	border-radius: 15px;
	height:136px;
	width: 400px;
	border:1px solid #373737;
	margin:-40px auto 20px auto;
}
.ruletca-text1{
	display:block;
	margin-top:-50px;
	padding-left:130px;
	color:#dedede;
	font-size:16px;
	font-family:Century Gothic;
}

.ruletca-text2{
	display:block;
	margin-top:0px ;
	padding-top:0px;
	padding-left:130px;
	color:#dedede;
	font-size: 11px;
	padding-bottom:50px;
}
.ruletca-img{
	display: inline-block;
	padding-top: 63px;
	padding-left:48px;
}
.menu-content{
	box-shadow:; 
	width: 1256px;	
}

.mein-info{
	background: url( images/fon3.png)  repeat;
	height:512px;
	border:1px solid #373737;
	border-radius:20px;
	float:left;
	width:520px;
	margin:100px 0px 50px 100px;

}

.apolon-img{
	margin:10px 15px;
	box-shadow:0 0 10px rgba(0,0,0,1);
}
.text-left-bar{font-size:16px;
color:#ffffff;
}
.text-left-ba{
	font-size:12px;
	color:#727272;
}
.text-left-bari{
	display: block;
	font-size:14px;
	color:#727272;
}
.list{
	padding-top:10px; 
	list-style-type:none;
	padding-left:15px;
}
.list-text{
	margin:0 17px 0 0;
	border-bottom:1px inset #3b3b3b;
	font-family:Century;
	font-size:15px;
	color:#939393;
}
li{border-bottom:1px inset #ffffff;
	padding-bottom:7px;
}
.list-text-grey{
	font-size:13px;
	font-style:Italic;
	color:#727272;
	padding-left:5px;

}
.bar{float:right;
	width:300px;
	margin: 0;
}
.pley{
	font-size:15px;
	color:#ffffff;
	padding-left:15px;

}
.spoler{
	font-size: 16px;
	color:#ffffff;
}
.img_bar{padding:0 12px 0px 13px;
}
.vote{padding-right:17px; 
}

.info{
	background: url(images/fon3.png) repeat;
	height:512px;
	border:1px solid #373737;
	border-radius:20px;
	float:right;
	width:520px;
	margin:100px 100px 50px 0px;
}
.text-info{
	font-size:15px;
	color:#727272;
	padding:0 5px 0 13px; 
}
.a-img-text{
	text-decoration: none;
}
.torrent-text, .sharing-text, .reel-text{
	color:#a8804c;
	font-size: 11px;
	font-family:Century;
    margin-bottom: 10px;
}
.torrent, .sharing, .reel_of_film{
	margin-left: 15px;
	height: 32px;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	background: linear-gradient( to top, #feda48, #fed46a);
	width: 150px;
	border-radius: 20px;
	border:0px solid;
}
.reel-text{
	display: inline-block;
}
.info-images{
	margin-top:0;
}
.info-img{
	display:inline; 
	padding:0 5px 0px 15px;
}
.soc_seti{
	display: inline-block;
	margin:20px 15px 0 120px;
}
.vkontakte, .fecesbook, .tweet{
	display:inline-block;
}
.button-next-left, .button-next-right{
	display:inline-block;
}
.button-next-left{
	z-index: 3;
	margin-left:-20px;
}

.treler{
	font-size:15px;
	color:#ffffff;
	overflow: hidden;
	width:250px;
	height:40px;
	padding:0px 0px 0px 0px;
	border-radius:10px 10px 0px 0px;
	background:url(images/fon3.png) repeat;
}
.lenta{
	padding: 5px;
}
.title-sckreenshots{
	border:1px solid #373737;
	z-index: 2;
	margin: auto;
	overflow:hidden;
	width:1080px;
	height: 190px;
	padding:10px 10px 0px 10px;
}
.sckreenshots{
	background:url(images/fon3.png) repeat;
	width:1080px;
	height: 150px;
	overflow:hidden;
	border-radius:0px 10px 10px 10px;
	margin: auto;
}
.sckreenshots-img{
	box-shadow: 0 0 7px rgba(0,0,0,1);
	margin:10px 7px 10px 15px;
}
.title-video{
	float:left;
	height:385px;
	width:580px;
	
}
.camera{
	border:0px solid #373737;
	font-size:15px;
	color:#ffffff;
	border-radius: 10px 10px 0 0;
	background: url(images/fon3.png) repeat;
	width:166px;
	height:40px;
}

.camera_img{
	padding:8px 15px 0 10px;
}
.video{
    border:0px solid #373737;
	background: url(images/fon3.png) repeat;
	border-radius:0 15px 15px 15px;

}
.video_comments{
	height: 386px;
	margin:27px auto;
	width:1016px;
}
.cosmo-video{
	padding:20px;
}

.comment{
	height:385px;
	width: 418px;
	float:right;
}
.coments{
	font-size:15px;
	color:#ffffff;
	border-radius: 10px 10px 0 0 ;
 	border:0px solid ;
 	width:200px;
 	background:url(images/fon3.png) repeat;

}
.coment{
		border-radius: 0 10px 10px 10px;
		border:0px solid ;
		height:350px;
		background:url(images/fon3.png) repeat;
}
.coment-img{
	padding:5px 0 0 10px ;
}
.coment-images{
	padding:20px;
}
.title-coments{
	padding-left:30px;
}
.footer_bottom{
	margin: 80px auto 0px auto;
     width:990px;
}
.footer-text{
	color:#ffffff;
	text-align: center;
	font-size:12px;
}