html{
	height:100%;
}
body{

	background-image: url(images/index.png);
	background-color: #313131;
	font-size:13px;
	font-family: Century Gothic;
	margin: 0px;

}

.page-header {
	background: url( images/header.png) repeat-x;
	height: 128px;
	margin: auto;
	position: relative;
}

.header-logo {
	margin: auto;
	width:1360px;
}

.logo {
	margin-top: 10px;
	margin-left: 185px;
}

.main-content {
	margin: auto;
	width:1360px;
}

.ruletka {
	position:absolute;
	top:70px;
	left:630px;
}

.left-film-info { 
	background: url( images/fon3.png)  repeat;
	height: 510px;
	width: 485px;
	float: left;
	border-radius: 20px;
	margin: 100px 10px 0px 185px;

}

.right-film-info {
	background: url(images/fon3.png) repeat;
	height:510px;
	width: 485px;
	float: right;
	border-radius:20px;
	margin: 100px 185px 0px 10px;
}

.apolon{
	padding: 10px 15px;
}

.left-film-info-right-text {
	float: right;
	width: 260px;
}

.text-left-bar {
	font-size:16px;
    color:#ffffff;
}

.text-left-bar-title {
	font-size:12px;
	color:#727272;
}

.text-left-bar-title1{
	display: block;
	font-size:14px;
	color:#727272;
}

.list {
	padding-top:10px; 
	list-style-type:none;
	padding-left: 0px;
	margin-right: 15px;
}

.list1 {
	padding-top:10px; 
	list-style-type:none;
	margin-right: 15px;
	padding-left: 15px;
}

.list-text{
	border-bottom: 1px inset #3b3b3b;
	font-size:14px;
	color:#939393;
}

li{
	padding-bottom:7px;
}

.list-text-grey{
	font-family: Georgia;
	font-style: italic;
	font-size:13px;
	color:#727272;
	padding-left: 5px;

}

.bar{float:right;
	width:300px;
	margin: 0;
}

.pley{
	font-size:15px;
	font-weight:normal;
	color:#ffffff;
	padding-left:15px;
}

.spoler{
	font-size: 16px;
	color:#ffffff;
}
.img_bar{padding:0 12px 0px 13px;}
.ee{padding-right:17px; }

.text-info{
	font-size:15px;
	color:#727272;
	padding:0 5px 0 13px; 
}

.info-img{
	padding: 0px 0px 0px 6px;
}

.info-soc_seti{
	padding-left: 90px;
}
.kadri {
	font-size:17px;
	color:#ffffff;
	overflow: hidden;
	margin: 0;
	position: relative;
	left:185px;
	top:20px;
	width:240px;
	padding: 0px 0px 0px 5px;
	border-radius:10px 10px 0px 0px;
	background:url(images/fon3.png) repeat;
	border: 0px solid yellow;
}
.lenta{
	padding:10px 10px 0px 10px;
}
.sckreenshots{
	background:url(images/fon3.png) repeat;
	padding: 5px;
	border:0px solid yellow;
	width:980px;
	height: 150px;
	overflow: hidden;
	border-radius: 0px 10px 10px 10px;

	margin: 20px 10px 10px 185px;
}
.sckreenshots-img{
	padding:0 0 20px 6px;
}

.trailer-header{
	font-size:17px;
	font-weight: normal;
	color:#ffffff;
	border-radius: 10px 10px 0 0;
	background: url(images/fon3.png) repeat;
	width:170px;
	height:40px;
}
.camera_img{
	padding:8px 15px 0 10px;

}
.video{
	float:left;
	width:580px;
	height:345px;
	margin:15px 10px 15px 185px;
}

.video-content {
	background: url(images/fon3.png) repeat;
	border:0px solid yellow;
	border-radius:0 15px 15px 15px;
}

.cosmos{
	padding:10px;
}

.comments {
	float: left;
	width: 390px;
	height:348px;
	margin: 15px 185px 15px 10px;
}

.comments-content {
	border:0px solid yellow;
	border-radius:0 15px 15px 15px;
	background:url(images/fon3.png) repeat;
}

.trailer {
	float: left;
	width: 300px;
}

.comments-header {
	font-size:17px;
	font-weight: normal;
	color:#ffffff;
	border-radius: 10px 10px 0 0;
	background: url(images/fon3.png) repeat;
	width:170px;
	height:40px;
}

.coments_img{
	width: 370px;
}