html{
	height:100%;
}

body{
	width: 1050px;
	margin: auto;
	background: url(images/yyyyx_03.png) repeat;
	font-size:13px;
	font-family:Century Gothic;	
}

.kinoruletca{
	position: relative;
	width: 1050px;
	background: url(images/xxx.png) repeat;
	height: 117.5px;
	box-shadow: 0px 20px 12px -14px #000;
}

.header-kinoruletca-img{
	margin:10px 0 0 80px;

}

.rhombus:after{
	content:"";
	position: absolute;
	height:8px;
	top:117px; 
	left:0;
	right:0;
	bottom:0px;
	background: url(images/kkk_03.png) repeat-x;
}

.consol{
	margin: 10px 110px 0px 0px;
	float:right;
}

.button-social-network{
	border:none;
	padding-left: 10px;
}

.ruletca{
	background:url(images/fon3.png) repeat;
	border-radius: 15px;
	height:136px;
	width: 400px;
	border:1px solid #373737;
	margin:-50px auto 20px auto;
}

.text-ruletca1{
	display:block;
	margin-top:-50px;
	padding-left:130px;
	color:#dedede;
	font-size:16px;
}

.text-ruletca2{
	display:block;
	margin-top:0px ;
	padding-top:0px;
	padding-left:130px;
	color:#dedede;
	font-size: 11px;
	padding-bottom:50px;
}

.ruletca-img{
	display: inline-block;
	padding-top: 63px;
	padding-left:48px;
}

.mein-info{
	box-shadow: inset 0 0 2px 0.5px #000;
	background:rgba(2, 2, 2, 0.15);
	height:512px;
	border:1px solid #373737;
	border-radius:20px;
	float:left;
	width:520px;
	margin:30px 0px 50px 0px;
}

.header-mein-info-text{
	color:#fff;
}

.header-mein-info-text1, .header-mein-info-text2{
	color:#727272;
	padding-left: 5px;

}

.header-mein-info-text2{

	display: block;
}

.images_mein-info{
	margin:10px 15px;
	box-shadow:0 0 10px rgba(0,0,0,1);
}

.header-mein-info-vote{
	padding-right:17px; 
}

.header-mein-info{
	float:right;
	width:300px;
	margin: 0;
}

.list {
	padding-top:10px; 
	list-style-type:none;
	padding-left: 0px;
	margin-right: 15px;
}

.list-text{
	padding-bottom:15px;
	margin:0 17px 0 0;
	border-bottom:1px inset #3b3b3b;
	font-size:15px;
	color:#939393;
}

.list-text-grey{
	font-family: Georgia;
	font-style: italic;
	font-size:13px;
	color:#727272;
	padding-left: 5px;

}

.footer-mein-info-title{
	font-size:15px;
	color:#ffffff;
	padding-left:15px;
}

.list1 {
	list-style-type:none;
	margin-right: 15px;
	padding-left: 15px;
}

.list-text1{
	padding-bottom: 12px;
	margin:0 17px 0 0;
	border-bottom:1px inset #3b3b3b;
	font-size:15px;
	color:#939393;
}

.info{
	box-shadow: inset 0 0 2px 0.5px #000;
	background:rgba(2, 2, 2, 0.15);
	height:512px;
	border:1px solid #373737;
	border-radius:20px;
	float:right;
	width:520px;
	margin:30px 0px 50px 0px;
}

.info-title{
	font-size: 16px;
	color:#ffffff;
}

.info-title-img{
	padding:0 12px 0px 13px;
}

.info-text{
	font-size:15px;
	color:#727272;
	padding:0 5px 0 13px; 
}

.torrent, .sharing, .reel_of_film{
	position: relative;
	text-decoration: none;
	margin:10px 0 0 15px;
	height: 32px;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	background: linear-gradient( to top, #feba48, #ffefc1);
	width: 150px;
	border-radius: 20px;
}

.info-img-text{
	top:10px;
	position: absolute;
	color:#a8804c;
	font-size: 11px;
}

.info-img{
	padding:4px 5px 0px 15px;
}

.soc_seti{
	display: inline-block;
	margin:28px 15px 0 117px;
}

.vkontakte, .feasbook, .tweet{
	padding-right:5px;
	display:inline-block;
}

.sckreenshots{
	display:block;
	z-index:1;
	margin: auto;
	overflow: hidden;
	width: 1050px;
	position: relative;
}

.title-sckreen{
	font-weight: 300;
	padding: 10px 20px 5px 10px ;
	left:19px;
	top:5px;
	margin:0;
	font-size:15px;
	color:#fff;
	display:inline-block;
	position: relative;
	border-right:1px solid #3a3a3a;
	border-left:1px solid #3a3a3a;
	border-top:1px solid #3a3a3a;
	overflow: hidden;
	border-radius:10px 10px 0px 0px;
	background:rgb(51, 51, 51);
}

.img-sckreenshot{
	border:1px solid #3a3a3a;
	background:rgb(51, 51, 51);
	overflow:hidden;
	margin:auto;
	width: 1010px;
	padding:0;
	border-radius: 0px 10px 10px 10px;
}



.img-botton-left{
	border-left:1px solid #3a3a3a;
	padding:3px 0px 3px 3px;
	background:rgb(51, 51, 51);
	margin:0;
	left:0px;
	top:112px;
	position:absolute;
	border-radius:20px 0 0 20px; 
}

.img-botton-right{
	border-right: 1px solid #3a3a3a;
	top:112px;
    right: 0px;
	padding:3px 3px 3px 0px ;
	position:absolute;
	background:rgb(51, 51, 51);
	margin:0;
	border-radius:0px 20px 20px 0px;

}

.images1_1{box-shadow: 0 0 7px rgba(0,0,0,1);
	margin:10px 10px 10px 27px;
}

.images1{
	box-shadow: 0 0 7px rgba(0,0,0,1);
	margin:10px 10px 10px 5px;
}
.treler{
	left:11px;
	top:67px;
	position: relative;
	float:left;
	width:580px;
}

.title-treler{
	margin:0;
	left:0px;
	top:-35px;
	position: absolute;
	vertical-align: middle;
	padding:0 20px 0px 15px;
	font-weight: 300;
	border-right:1px solid #3a3a3a;
	border-left:1px solid #3a3a3a;
	border-top:1px solid #3a3a3a;
	display: inline-block;
	font-size:15px;
	color:#fff;
	border-radius: 10px 10px 0 0;
	background:rgb(51, 51, 51);
}

.img-title-treler{
	padding-top: 5px;
}

.text-title-treler{
	margin-bottom: 5px;
	padding-left: 8px;
}

.video-treler{
	border-radius:0 10px 10px 10px;
	background:rgb(51, 51, 51);
    border:1px solid #373737;
	float:left;f
	width:580px;
	height:345px;
	margin: 0;
}

.video{
	padding:20px;
}	

.comment{
	top:67px;
	position: relative;
	margin: 0;
	width: 400px;
	float:right;
}	

.title-comment{
	padding:0 20px 0 5px;
	top:-50px;
	position: absolute;
	border-right:1px solid #3a3a3a;
	border-left:1px solid #3a3a3a;
	border-top:1px solid #3a3a3a;
	display:inline-block;
	font-size:15px;
	font-weight: 300;
	color:#fff;
	border-radius: 10px 10px 0 0 ;
 	background:rgb(51, 51, 51);

}

.comments{
	border-radius: 0 10px 10px 10px;
	border:1px solid #3a3a3a;
	height:345px;
	background:rgb(51, 51, 51 )
}

.img-title-comment{
	padding-top:5px;
	padding-left:10px;

}

.text-title-comment{
	padding-left:15px;
}

.img-comments{
	padding: 20px 10px 0 10px;
}

footer{
	padding-top:150px;
	z-index: 2;
	position: relative;
	overflow: hidden;
	margin:0 auto;
    width:980px;
}

.text-footer{
	margin:0;
	position: relative;
	padding-left: 55px;
	 font-size: 16px;
	color:#f1e358;
}

.text-footer:before{
	content: "";
	background: #1c1c1c;
	border-bottom: 1px solid #3a3a3a;
	height: 1px;
	position: absolute;
	top:50%;
	left:0px;
	width:50px;
}

.text-footer:after{ 
	content: "";
	background: #1c1c1c;
	border-bottom: 1px solid #3a3a3a;
	height: 1px;
	position: absolute;
	top:50%;
	left:170px;
	right:0px;
}

.img-footer{
	top:145px;
	right:0px;
	position: absolute;
}

.text-footer-bottom{
	font-size: 12px;
	color:#FFF;
	text-align: center;
}
