@font-face{
	font-weight: 400;
	font-family:Telegrafico;
	src:url(font/font-telegrafico/telegrafico-webfont.ttf);
	src:url(font/font-telegrafico/telegrafico-webfont.etf);
	src:url(font/font-telegrafico/telegrafico-webfont.svg);
	src:url(font/font-telegrafico/telegrafico-webfont.woff);
	src:url(font/font-telegrafico/telegrafico-webfont.woff2);
}

@font-face{
	font-weight: 300;
	font-family: Dosis-Book;
	src:url(font/Dosis-Book/Dosis-Book-webfont.ttf);
	src:url(font/Dosis-Book/Dosis-Book-webfont.etf);
	src:url(font/Dosis-Book/Dosis-Book-webfont.svg);
	src:url(font/Dosis-Book/Dosis-Book-webfont.woff);
	src:url(font/Dosis-Book/Dosis-Book-webfont.woff2);
}

html{
	width: 100%;
	height: 100%;
}

body{
	font-family: Myriad Pro, sans-serif;
	margin: 0;
}

.page_header{
	background-color:#fa5227; 
	background: linear-gradient(to top, #e93315, #f94f25);
}

.header-block{
	position: relative;
	width: 940px;
	margin: auto;
}

.logo{
	margin-top: 16px;
}

.text-logo{
	position: relative;
	bottom: 12px;
	font-family:Telegrafico;
	font-weight: 400;
	font-size: 14px;
	color:#fff;
	margin-left: 18px;
}

.account-list,.my-account{
	display: inline-block;
}

.account-list{
	vertical-align: middle;
	margin:3px 0px 30px 140px;
}

.account-line{
	margin-right: 8px;
	font-family:Telegrafico;
	font-weight: 400;
	color:#FFF;
	font-size: 14px;
	display: inline-block;
}

.account-line:hover{
	color:#000;
}

.icon-sprite{
	background-image: url(sprite/sprite.png);
	background-repeat: none;

}

.button-account{
	cursor: pointer;
	top:24px;
	right:8px;
	position: absolute;
	box-shadow:inset 0px 0px 1px 1px rgba(0, 0, 0, 0.39);
	width: 32px;
	height: 32px;
	border-right: 0;
	border-left: 0;
	border-top:0;
	border-bottom:1px solid rgba(251, 131, 107, 0.59);
	background-position: 0 0;
}

.content-menu{
	border-bottom: 4px solid #f1e9cf;
	height: 66px;
	background: url(images/029_06_06.png) repeat;
}

.content-menu-block{
	width: 940px;
	margin:auto;
}

.menu{
	display: inline-block;
}
.menu-block1, .menu-block2, .menu-block3, .menu-block4, .menu-block5, .menu-block6, .menu-block7, .menu-block8{
	display: inline-block;
	height: 66px;
	vertical-align: middle;
	padding-bottom: 4px;
}

.menu-block1:hover, .menu-block2:hover, .menu-block3:hover, .menu-block4:hover, .menu-block5:hover, .menu-block6:hover, .menu-block7:hover, .menu-block8:hover{
	padding-bottom: 4px;
	background:linear-gradient(to top, #fbf2d3, #f0e4d8);
}

.text-menu1{
	font-size: 16px;
	font-weight: 300;
	font-family: Dosis-Book;
	margin-left: 12px;
	margin-right: 17px;
	position: relative;
	top:23px;
}

.text-menu{
	font-size: 16px;
	font-weight: 300;
	font-family: Dosis-Book;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top:24px;
}

.icon{
	background-image: url(sprite/sprite.png);
}

.img-home{
	top: 24px;
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position:0 -35px; 
}

.menu-link{
	color:#918769;
	text-decoration: none;
}

.menu-link:hover{
	color:#000;
}

.content-search{
	height: 60px;
	background: #f9f9f9;
}

.content-search-block{
	margin: auto;
	width: 940px;
}

.text-content-search{
	color:#bbbbbb;
	float: left;
	font-weight: 300;
	font-family: Dosis-Book;
	font-style: italic;
	margin: 0;
	padding: 20px 0 20px 0;
	display: inline-block;
}

.soc-seti{
	float: left;
}

.search-panel{
	position: relative;
}

.search{
	color:#000;
	border:0;
	border-radius: 4px;
	box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0 , 0.17);
	margin-top: 14px;
	width: 184px;
	height: 25px;
	float: right;
}

.magnifier{
	right: 10px;
	top:22px;
	position: absolute;
	border: 0;
	width: 13px;
	height: 12px;
	background-position: -44px -53px; 
}

.soc-seti{
	margin:21px 0 0 230px;
}

.wifi{
	margin-right:11px;
	display: inline-block;
	width:11px;
	height:10px;
	background-position:0 -54px; 
}

.facebook{
	margin-right:11px;
	display: inline-block;
	width:5px;
	height:10px;
	background-position: -11px -54px;
}

.twitter{
	margin-right:11px;
	display: inline-block;
	width:13px;
	height:10px;
	background-position: -16px -54px;
}

.skype{
	margin-right:11px;
	display: inline-block;
	width:10px;
	height:10px;
	background-position:-32px -54px;
}

.background-content{
	background: url(images/02459_11.png) repeat-x;
	height: 5px;
}

.content{
	width: 940px;
	margin: 21px auto 0 auto;
}

.content2{
	position: relative;
	height: 66px;
	background: #91d2d0;
	background: linear-gradient(to right, #91d2d0, #9bd7d5);
	margin:-4px auto 0 auto;
	width: 940px;
	border-bottom: 6px solid #89c8c6;
}

.text-content2{
	color:#fff;
	font-size: 16px;
	font-weight: 300;
	font-family: Dosis-Book;
	position: absolute;
	top:22px;
	right:122px;
	display: inline-block;
	margin: 0;
}

.buttom-content2{
	text-shadow:-1px -1px 0  rgb(114, 176, 174);
	font-weight: 400;
	color:#fff;
	font-family:Telegrafico;
	cursor: pointer;
	position: absolute;
	top:15px;
	right: 25px;
	box-shadow: inset 0px 1px 0 0 #beecea;
	background: linear-gradient(to top, #8ac6c4, #9fdcda);
	height: 32px;
	width: 79px;
	border-radius: 3px;
	border:1px solid #76c2bf;
}

.buttom-content2:hover{
	color:#000;
}

.text-line-style{
	display: inline-block;
	font-weight: 400;
	color:#747272;
	font-family:Telegrafico;
	font-size: 18px;
	height: 20px;
	margin: 50px 0 38px 0;
}

.line-style{
	width: 940px;
	margin: auto;
}

.text-line-style:after{
	content:"";
	position: absolute;
	background:url(images/hhh_22.png)repeat-x;
	height: 10px;
	margin-left: 3px;
	width:856px;
}

.content-catalog, .content-catalog2{
	width: 940px;
	margin: auto;
}

.catalog-block1, .catalog-block2, .catalog-block3{
	float: left;
	margin-right: 20px;
	height: 269px;
	border-radius: 3px;
	position: relative;
	box-shadow: inset 0px 0px 1px 1px #bcbcbc;
	width: 220px;
	background: #e1e1e1;
	background: linear-gradient(to top, #d5d5d5, #f2f2f2):;
	margin-bottom:48px;
}

.catalog-block1:before{
	cursor: pointer;
	content: "";
	top:95px;
	left: -35px;
	position: absolute;
	background-position:-37px -67px ;
	background-image: url(sprite/sprite.png);
	width: 35px;
	display: inline-block;
	height: 37px;
}

.catalog-block4{
	position: relative;
	float: left;
	margin-bottom:48px;
	height: 269px;
	width: 220px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px 1px #bcbcbc;
	background: #e1e1e1;
	background: linear-gradient(to top, #d5d5d5, #f2f2f2);
}

.catalog-block4:after{
	content: "";
	cursor: pointer;
	top:95px;
	right: -35px;
	position: absolute;
	background-position:0px -67px ;
	background-image: url(sprite/sprite.png);
	width: 35px;
	display: inline-block;
	height: 37px;
}

.img-catalog{
	display: block;
	margin: 7px;
	border-top:1px solid #f5f5f5;
	border-left:1px solid #f5f5f5;
	border-right:2px solid #f5f5f5;
	border-bottom:2px solid #f5f5f5;
}

.text-catalog{
	margin: 8px 0 20px 8px;
	font-size: 16px;
	font-weight: 300;
	font-family: Dosis-Book;
	color:#494949;
}

.button-catalog{
	cursor: pointer;
	text-shadow:1px 1px 0 #c84323;
	font-weight: 300;
	font-family: Dosis-Book;
	color:#fceded;
	font-size: 14px;
	box-shadow: inset 0px 1px 0px 0px #fe7f4c;
	background: linear-gradient(to top, #e84621, #fd5f37);
	border:1px solid #c36449;
	border-radius: 4px;
	width:109px;
	height:28px;
	margin-left: 8px;
}

.button-catalog:hover{
	color:#000;
}

.text-line-style1{
	font-family: Myriad Pro;
	font-size: 18px;
	color:#6d6c6c;
	margin:0px 0 35px 0;
}

.text-line-style1:after{
	content:"";
	position: absolute;
	background:url(images/hhh_22.png)repeat-x;
	height: 10px;
	margin-left:20px;
	margin-top: 5px;
	width:857px;
}

.brands{
	width: 940px;
	margin: 0 auto 44px auto;
	position: relative;
	height: 66px;
}

.img-brands1{
	margin:0 0 2px 79px;
}

.img-brands2{
	margin: 0 0 0 162px;
}

.img-brands3{
	margin: 0 0 7px 147px;
}

.img-brands4{
	margin: 0 0 19px 140px;
}

.left-arrow{
	background-position: -37px -67px;
	display: inline-block;
	width: 35px;
	height: 37px;
	margin-bottom: 16px;
}

.right-arrow{
	right: 0;
	top:13px;
	position: absolute;
	background-position:0 -67px;
	display: inline-block;
	width: 35px;
	height: 37px;
}

.text-line-style2{
	display: inline-block;
	font-weight: 400;
	color:#747272;
	font-family:Telegrafico;
	font-size: 18px;
	margin-bottom: 40px;
}

.text-line-style2:after{
	content:"";
	position: absolute;
	background:url(images/hhh_22.png)repeat-x;
	height: 10px;
	margin-left: 3px;
	width:885px;
}

.page{
	width: 940px;
	margin:auto;
	clear: both;
	margin-bottom: 195px;
}

.page-block1{
	text-align: center;
	box-shadow: inset 0 1px 0 0 #efefef;
	border-radius: 3px;
	width: 31px;
	height: 28px;
	border: 1px solid #d7d7d7;
	background:#e4e4e4;
	background: linear-gradient(to top, #e0e0e0, #e7e7e7);
	display: inline-block;
	margin-right:6px;
}

.page-block2, .page-block3, .page-block4, .page-block5, .page-block6, .page-block7{
	box-shadow: inset 0 1px 0 0 #e6e6e6;
	font-weight: 300;
	font-family: Dosis-Book;
	border-radius: 3px;
	width: 31px;
	height: 28px;
	color:#545454;
	margin-right: 6px;
	text-align: center;
	position: relative;
	bottom:-4px;
	border: 1px solid #c5c5c5;
	background:#d5d5d5;
	background: linear-gradient(to top, #cecece, #d9d9d9);
	display: inline-block;
	text-shadow:1px 1px 0 #ededed;
}

.link-page{
	color:#545454;
}

.page-block2:hover, .page-block3:hover, .page-block4:hover, .page-block5:hover, .page-block6:hover, .page-block1:hover, .page-block7:hover{
	background: linear-gradient(to top, #e94722, #fd5f37);
	color:#fceded;
	box-shadow: inset 0 1px 0 0 #f97f4c;
	text-shadow:1px 1px 0px #cc4525;
	border: 1px solid #e36d4b;

}

.page-number{
	position: relative;
	top:3px;
	font-size: 14px;
}

.list-page{
	height: 30px;
	margin: 0;
	padding: 0;
}

.left-arrow-page{
	position: relative;
	top:4px;
	background-position: -7px -106px; 
	width:6px;
	height:7px;
	display: inline-block;
}

.right-arrow-page{
	position: relative;
	top:1px;
	background-position: -15px -106px; 
	width:6px;
	height:7px;
	display: inline-block;
}

.content-info{
	border-bottom: 5px solid #d4ccb0;
	height: 138px;
	background: url(images/02459_10.png)repeat-x;
}

.content-info-block{
	width: 940px;
	margin:auto;
}

.info-block1, .info-block2{
	float: left;
	width: 290px;
	text-align: justify;
	display: inline-block;
	margin-right: 35px;
}

.info-block3{
	float: left;
	width: 290px;
	text-align: justify;
	display: inline-block;
}

.title-info{
	color:#747272;
	font-weight: 400;
	font-family:Telegrafico;
	font-size: 18px;
	display: inline-block;
	margin: 23px 0 0 5px ;
}

.text-info{
	line-height: 24px;
	font-size: 14px;
	color:#908668;
	font-weight: 300;
	font-family: Dosis-Book;
	margin: 5px 0 0 24px;
	display: inline-block;
}

.lamp{
	position: relative;
	top:12px;
	display:inline-block;
	background-position: 0 -115px;
	width:18px;
	height:26px;
}

.lightning{
	position: relative;
	top:12px;
	display: inline-block;
	background-position: -20px -115px;
	width:19px;
	height:27px;
}

.button-start{
	position: relative;
	top:8px;
	display: inline-block;
	background-position: -42px -115px;
	width:20px;
	height:23px;
}

.content-footer-menu{
	height: 248px;
	background: url(images/yyy9_10.png)repeat-x;
}

.footer-menu{
	margin: auto;
	width: 940px;
}

.footer-menu-block1{
	float: left;
	width: 175px;
	margin-right: 25px;
}

.footer-menu-block2{
	float: left;
	width: 115px;
	margin-right: 84px;
}

.footer-menu-block3{
	float: left;
	width: 165px;
	margin-right: 35px;
}

.footer-menu-block4{
	float: left;
	width: 108px;
	margin-right: 93px;
}

.footer-menu-block5{
	float: left;
	width: 79px;
}

.title-footer-menu{
	margin: 23px 0 12px 0;
	font-weight: 400;
	font-family:Telegrafico;
	font-size: 18px;
	color:#e6e6e6;
}

.footer-menu-list{
	padding: 0;
	list-style-type:none;
}

.footer-menu-line, .text-footer-menu{
	color:#c9c9c9;
	font-weight: 300;
	font-family: Dosis-Book;
	line-height: 22px;
	font-size: 14px;
}

.footer-link{
	text-decoration: none;
}

.footer-menu-line:hover{
	color:#0e0e0e;
}

.page-footer{
	height: 43px;
	border-bottom: 20px solid #4e4e4e;
	border-top:1px solid #494949;
	background: linear-gradient(to top, #4d4d4d, #4a4a4a);
}

.footer-block{
	width: 940px;
	margin: auto;
}

.text-footer{
	color:#848484;
	font-weight: 400;
	font-family:Telegrafico;
	font-size: 14px;
	margin: 19px 0 0 0;
	float: left;
}

.text-footer1{
	color:#848484;
	font-weight: 400;
	font-family:Telegrafico;
	font-size: 14px;
	float: right;
	margin: 27px 0 0 0;
}

.text-span{
	color:#9a9a9a;
}